<mat-form-field class="full-width-input">
    <input matInput placeholder="Email ID" value="" [(ngModel)]="data['email']" />
</mat-form-field>
<div class="buttons">
    <button mat-raised-button color="primary" [mat-dialog-close]="data['email']">Get Resume</button>
    <button mat-raised-button (click)="closeDialog()">Close</button>
</div>
