.header {
    width: 100%;
    height: 4em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    box-shadow: 0px 2px 10px -5px rgba(0, 0, 0, 0.3);
    position: relative;
    top: 0;
    left: 0;
    z-index: 99999;
    .logo {
        height: inherit;
    }
}
